<!DOCTYPE html>
<html>

<head>
  <title>Writer's Hub</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style0.css">
</head>

<body>
  <header>
    <h1>Welcome to Writer's Hub</h1>
    <p>Your Ultimate Destination for Literary Inspiration</p>
    <div>
      <a href="/signup" class="btn">Sign Up</a>
      <a href="/login" class="btn">Login</a>
    </div>
  </header>

  <section id="explore" class="section">
    <div class="container">
      <h2>Unleash Your Creativity</h2>
      <p>Discover a world of endless possibilities and unlock your writing potential. Dive into our vast collection of
        resources, writing prompts, and expert tips to inspire your literary journey.</p>
      <a href="#" class="btn">Explore Resources</a>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>Connect with Fellow Writers</h2>
      <p>Join our vibrant community of writers. Share your work, receive feedback, and engage in meaningful discussions.
        Connect with like-minded individuals and foster collaborations that elevate your craft.</p>
      <a href="#" class="btn">Join the Community</a>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>Stay Inspired and Informed</h2>
      <p>Stay updated with the latest news, writing contests, author interviews, and literary events. Our blog and
        newsletter are your go-to sources for staying connected to the literary world.</p>
      <a href="#" class="btn">Read Our Blog</a>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2023 Writer's Hub. All rights reserved.</p>
    </div>
  </footer>

</body>

</html>